* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #553758;
  color: #FCEFFA;
}

a {
  color: #FCEFFA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}